<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Trade.Agile - Cadastros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cadastros.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'javascripts/resize.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/tradeagile_favicon.png' %}">
</head>
<body>
    <main class="container">
        <div class="div_container">
            <p class="tit_cadastro">Cadastro de Clientes</p>
            <form method="post">
                {% csrf_token %}
                <div class="inputs_form">
                    {{ form.as_p }}
                </div>
                <div class="div_button">
                   <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>