<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset='utf-8'>
    <title>Bem-Vindo a Trade.Agile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/welcome.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/tradeagile_favicon.png' %}">
</head>
<body>
    <main>
        <div class="left_side">
            <h1>Bem-vindo à</h1>
            <h2 id="td_nome">Trade.Agile</h2>
            <p>Transformando Vendas em <span id="sucesso_nome">Sucesso</span></p>
        </div>
        <div class="right_side">
            <img src="{% static 'images/tradeagile_logo.png' %}" alt="">
        </div>
    </main>
</body>
</html>